# Ignore specific images
1.jpg
2.jpg
3.jpg
4.jpg
5.jpg
6.jpg
7.jpg


tool2dxfnoGUI.py
backup
tool2dxf.spec

# Ignore virtual environment
.venv/

# Ignore debug output folder
debug/

build/

dist/

output/
/.idea
